<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
    <link href="/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/guide.css" rel="stylesheet" type="text/css"/>
    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        .search-champion:hover {
            filter: blur(3px);
        }

        .search-item:hover {
            filter: blur(3px);
        }

        .search-augment:hover {
            filter: blur(3px);
        }

        .search-synergy:hover {
            filter: blur(3px);
        }

        .item:hover {
            background-color: skyblue;
            font-weight: bold;
        }

        .tft-item {
            height: 40px;
            width: 40px;
        }

        .tft-augment {
            height: 40px;
            width: 40px;
        }

        .tft-synergy {
            height: 40px;
            width: 40px;
        }


        .tft-tooltip .tft-tooltip-content {
            visibility: hidden;
        }

        .tft-tooltip:hover .tft-tooltip-content {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 9999;
        }

        .selected {
            background-color: sandybrown;
        }

        button {
            background-color: skyblue;
            border-radius: 15px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
</head>
<body class="theme-dark cheatsheet">
<div id="app">
    <div class="guide-cheatsheet">
        <div class="mt-4 px-0 px-md-3 mb-5">
            <div style="display: flex;">
                <div>
                    <div style="display: flex;height: 470px;">
                        <div style="display: inline-grid;">
                            <div class="augments"
                                 style="width: 200px;overflow-y: scroll;color: white;font-size: 15px;">
                                <div class="augment" v-for="augment in augmentObj.list" style="height: 30px;"
                                     v-on:click="addAugments(augment.dataId)" v-tooltip="augment.desc">
                                    <img v-bind:src="augment.imageUrl" style="height: 100%;">

                                    {{augment.name}}

                                </div>
                            </div>
                            <div style="position: relative">
                                <div style="position: absolute;bottom: 25px;padding: 5px;background-color: rgba(0, 0, 0, 0.5);">
                                    <div v-for="(target,index) in filteredAugments" class="targets"
                                         style="position: relative;display: inline-block;">
                                        <div v-bind:class="`tft-augment tft-augment--42 cost-`+target.cost"
                                             style="
                display: inline-block;
            " v-on:click="addAugments(target.dataId)" v-tooltip="target.desc">
                                            <img v-bind:src="target.imageUrl" alt=""
                                                 style="float: left;display:inline-block;height: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" v-model="augmentObj.searchWord">

                            </div>
                            <div style="height: 90px;">
                                <div v-for="(target,index) in augmentObj.requests" class="targets"
                                     style="position: relative;display: inline-block;">
                                    <div v-bind:class="`search-augment tft-augment tft-augment--42 cost-`+target.cost"
                                         style="
                display: inline-block;
            " v-on:click="removeAugment(index)" v-tooltip="target.desc">
                                        <img v-bind:src="target.imageUrl" alt=""
                                             style="float: left;display:inline-block;height: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-grid;">
                            <div class="synergies"
                                 style="width: 200px;overflow-y: scroll;color: white;font-size: 15px;">
                                <div class="synergy" v-for="synergy in synergyObj.list" style="height: 30px;"
                                     v-on:click="addSynergies(synergy.dataId)" v-tooltip="synergy.desc">
                                    <img v-bind:src="synergy.imageUrl" style="height: 100%;">

                                    {{synergy.name}}

                                </div>
                            </div>
                            <div style="position: relative">
                                <div style="position: absolute;bottom: 25px;padding: 5px;background-color: rgba(0, 0, 0, 0.5);">
                                    <div v-for="(target,index) in filteredSynergies" class="targets"
                                         style="position: relative;display: inline-block;">
                                        <div v-bind:class="`tft-synergy tft-synergy--42 cost-`+target.cost"
                                             style="
                display: inline-block;
            " v-on:click="addSynergies(target.dataId)" v-tooltip="target.desc">
                                            <img v-bind:src="target.imageUrl" alt=""
                                                 style="float: left;display:inline-block;height: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" v-model="synergyObj.searchWord">

                            </div>
                            <div style="height: 90px;">
                                <div v-for="(target,index) in synergyObj.requests" class="targets"
                                     style="position: relative;display: inline-block;">
                                    <div class="search-synergy tft-synergy tft-synergy--42"
                                         style="
                display: inline-block;
            " v-on:click="removeSynergy(index)" v-tooltip="target.desc">
                                        <img v-bind:src="target.imageUrl" alt=""
                                             style="float: left;display:inline-block;height: 100%;">
                                    </div>
                                    <div>
                                        <input type="number" name="name" min="1" v-model:value="target.tier"
                                               required=""
                                               placeholder="시너지 단계"
                                               title="시너지 단계"
                                               class=" js-bound" style="width:40px;height: 40px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; height: 450px;">
                        <div style="display: inline-grid;">
                            <div class="items"
                                 style="width: 290px;overflow-y: scroll;color: white;font-size: 15px;">
                                <div class="item" v-for="item in itemObj.list" style="height: 30px;"
                                     v-on:click="addItems(item.dataId)"
                                     v-tooltip="{content:`${item.itemEffect}<br/>${item.itemSpec}`}">
                                    <img v-bind:src="item.imageUrl" style="height: 100%;">

                                    {{item.name}}
                                    <div style="height: 100%;float: right;display: flex;width: 22%;">
                                        <div style="height: 100%;" v-for="childItemName in item.childItems"
                                             :set="childItem = itemObj.mapByName[childItemName]"
                                        >
                                            <img v-bind:src="childItem?childItem.imageUrl:'/image/question-mark.jpg'"
                                                 style="height: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="position: relative">
                                <div style="position: absolute;bottom: 25px;padding: 5px;background-color: rgba(0, 0, 0, 0.5);">
                                    <div v-for="(target,index) in filteredItems" class="targets"
                                         style="position: relative;display: inline-block;">
                                        <div v-bind:class="`tft-item tft-item--42 cost-`+target.cost"
                                             style="display: inline-block;"
                                             v-on:click="addItems(target.dataId)"
                                             v-tooltip="{content:`${target.itemEffect}<br/>${target.itemSpec}`}">
                                            <img v-bind:src="target.imageUrl" alt=""
                                                 style="float: left;display:inline-block;height: 100%;">
                                        </div>
                                    </div>
                                </div>
                                <input type="text" v-model="itemObj.searchWord">
                            </div>
                            <div style="height: 40px;">
                                <div v-for="(target,index) in itemObj.requests" class="targets"
                                     style="position: relative;display: inline-block;">
                                    <div v-bind:class="`search-item tft-item tft-item--42 cost-`+target.cost" style="
                                    display: inline-block;
                                " v-on:click="removeItem(index)"
                                         v-tooltip="{content:`${target.itemEffect}<br/>${target.itemSpec}`}">
                                        <img v-bind:src="target.imageUrl" alt=""
                                             style="float: left;display:inline-block;height: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: inline-grid">
                    <div class="guide-cheatsheet__synergy"
                         style="overflow-x: auto;display: flex;align-items: center;display: inline-grid;">
                        <div style="min-width: 1100px;float: left;display: inline-block;width: 33%;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="synergy in synergyObj.jobs">
                                        <div>
                                            <img v-bind:src="synergy.imageUrl" v-bind:alt="synergy.name" width="14"
                                                 class="align-middle">
                                        </div>
                                        <span class="align-middle">{{synergy.name}}</span><br>
                                        <!--                                <span class="text-gray">2/3/4/5</span>-->
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="affiliation in synergyObj.affiliations">
                                    <th>
                                        <div>
                                            <img v-bind:src="affiliation.imageUrl" v-bind:alt="affiliation.name"
                                                 width="14"
                                                 class="align-middle">
                                        </div>
                                        <span class="align-middle">{{affiliation.name}}</span><br>
                                        <!--                                <span class="text-gray">2/3/4/5</span>-->
                                    </th>
                                    <td v-for="job in synergyObj.jobs">
                                        <champion-img
                                                v-for="champion in championObj.mapBySynergies[affiliation.name][job.name]"
                                                v-bind:cost="champion.cost"
                                                v-bind:image-url="champion.imageUrl"
                                                v-bind:traits="champion.traits"
                                                v-on:click.native="addChampions(champion.dataId)"
                                        />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div>
                        <div><input type="text" v-model="championObj.searchWord">
                            <div v-for="(target,index) in filteredChampions" class="targets"
                                 style="position: relative;display: inline-block;">
                                <div v-bind:class="`tft-champion tft-champion--42 cost-`+target.cost" style="
                display: inline-block;
            " v-on:click="addChampions(target.dataId)">
                                    <img v-bind:src="target.imageUrl" alt=""
                                         style="float: left;display:inline-block;height: 100%;">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div v-for="(target,index) in championObj.requests" class="targets"
                                 style="position: relative;display: inline-block;">
                                <div class="holding-champions">
                                    <div class="how-many-that">
                                        <div style="display: inline-block;">
                                            <champion-img
                                                    v-bind:cost="target.cost"
                                                    v-bind:image-url="target.imageUrl"
                                                    v-bind:traits="target.traits"
                                                    v-on:click.native="removeChampion(index)"
                                            />
                                        </div>
                                        <input type="number" name="name" min="1" max="3" v-model:value="target.tier"
                                               required=""
                                               placeholder="별 갯수 입력"
                                               title="별 갯수 입력"
                                               class=" js-bound" style="width:40px;height: 40px;">
                                        <input type="number" name="name" min="0" max="3"
                                               v-model:value="target.itemCount"
                                               required=""
                                               placeholder="아이템 갯수 입력"
                                               title="아이템 갯수 입력"
                                               class=" js-bound" style="width:40px;height: 40px;">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button v-on:click="searchWinners">search</button>
            </div>
        </div>
    </div>
    <div>
        <winner-template v-for="(winner, index) in winners"
                         v-bind:synergies="winner.synergies"
                         v-bind:augments="winner.augments"
                         v-bind:champions="winner.champions"
                         v-bind:index="index"
                         :key="winner.match_id"
                         v-on:winner-replaced="replaceWinner">

        </winner-template>
    </div>


</div>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/v-tooltip"></script>
<script src="/js/app.js"></script>
</html>