<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
    <link href="/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/guide.css" rel="stylesheet" type="text/css"/>
    <link href="/css/profile.css" rel="stylesheet" type="text/css"/>
</head>
<body class="theme-dark cheatsheet">
<div id="app">
    <div class="guide-cheatsheet">
        <div class="mt-4 px-0 px-md-3 mb-5">
            <div class="guide-cheatsheet__synergy" style="overflow-x: auto;display: flex;align-items: center;">
                <div style="min-width: 1100px;float: left;display: inline-block;width: 33%;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th v-for="synergy in jobs">
                                <img v-bind:src="synergy.imageUrl" v-bind:alt="synergy.name" width="14"
                                     class="align-middle">
                                <span class="align-middle">{{synergy.name}}</span><br>
                                <!--                                <span class="text-gray">2/3/4/5</span>-->
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="affiliation in affiliations">
                            <th>
                                <img v-bind:src="affiliation.imageUrl" v-bind:alt="affiliation.name" width="14"
                                     class="align-middle">
                                <span class="align-middle">{{affiliation.name}}</span><br>
                                <!--                                <span class="text-gray">2/3/4/5</span>-->
                            </th>
                            <td v-for="job in jobs">

                                <div v-for="champion in championsMap[affiliation.name][job.name]" class=""
                                     v-bind:class="`tft-champion tft-champion--42 cost-`+champion.cost"
                                     data-toggle="tooltip"
                                     v-bind:data-tooltip-url="`https://lolchess.gg/tooltip/champion/set7/`+champion.championName"
                                     data-original-title="" title="" v-on:click="addChampions(champion.dataId)">
                                    <img v-bind:src="champion.imageUrl">
                                    <span class="cost">${{champion.cost}}</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="max-width: 200px;">
                    <div v-for="target in targets" class="targets" style="
    position: relative;
    display: inline-block;
    margin-left: 5%;

">
                        <div class="holding-champions">
                            <div class="how-many-that">
                                <div v-bind:class="`tft-champion tft-champion--42 cost-`+target.cost"
                                     data-toggle="tooltip"
                                     v-bind:data-tooltip-url="`https://lolchess.gg/tooltip/champion/set7/`+target.championName"
                                     data-original-title="" title="" style="
                display: inline-block;
            ">
                                    <img v-bind:src="target.imageUrl" alt="스웨인" style="
    float: left;
    display: inline-block;
">
                                    <span class="cost" style="
    float: left;
    display: inline-block;
">$3</span>
                                </div>
                                <input type="number" name="name" min="-1" max="3" required="" placeholder="티어 입력"
                                       class=" js-bound" style="height: 40px;">
                            </div>

                        </div>
                    </div>
                    <button v-on:click="searchWinners">search</button>
                </div>
            </div>
        </div>
    </div>
    <div v-for="winner in winners" class="profile__match-history-v2__item placement-4 " data-region="KR"
         data-game-id="6032745922">

        <div class="traits" v-for="trait in winner.traits" :set="synergy = synergiesMapById[trait.name]"
             style="width: 48px;">
            <div style="background-color: grey">
                <img v-bind:src="synergy.imageUrl" data-toggle="tooltip" title="" style="width:48px;"
                     alt="7 신기루" data-original-title="7 신기루">
            </div>
        </div>

        <div class="augments">
            <div class="augment" v-for="augment in winner.augments" :set="aug = augmentsMapById[augment]">
                <img v-bind:src="aug.imageUrl" data-toggle="tooltip" title=""
                     alt="추방자 II" data-original-title="추방자 II" style="width:24px;height:24px;">
            </div>
        </div>

        <div class="units" style="width:900px;">
            <div class="unit" v-for="unit in winner.units" :set="champion = championsMapById[unit.characterId]"
                 style="width: 90px;height: 100px;">
                <img v-bind:src=" `//cdn.lolchess.gg/images/tft/stars/cost${championsMapById[unit.characterId].cost}_stars${unit.tier}.png` "
                     class="stars">
                <div class="cost-1">
                    <img v-bind:src="champion.imageUrl"
                         v-bind:alt="champion.championName" data-toggle="tooltip"
                         v-bind:title="champion.championName"
                         v-bind:data-original-title="champion.championName"
                         style="width:48px;">
                </div>
                <ul class="items" style="padding-top: 3px;">
                    <img v-for="itemName in unit.itemNames"
                         v-bind:src="itemsMapById[itemName].imageUrl" class="item"
                         data-toggle="tooltip" data-placement="bottom" v-bind:title="itemsMapById[itemName].itemName"
                         data-original-title="거인의 허리띠"
                         style="width:30px;height: 30px;">
                </ul>
            </div>
        </div>


        <div class="func">
            <a href="#" class="toggle-detail">
                <i class="far fa-chevron-down"></i>
            </a>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/app.js"></script>
</html>